body, html
  line-height: 1
  font-weight: 200
  font-family: 'PingFamg SC', 'STHeitiSC-Light', 'Helvetica-Light', Arial, sans-serif
  overflow-x: hidden

.clearfix
  display: inline-block
  &:after
    display: block
    content: "."
    height: 0
    line-height: 0
    clear: both
    visibility: hidden
